<div class="tittle" style="margin-top: 2%;">Instagram</div>
<div id="container">
  <!-- galleria -->
  <button (click)="sendMail()">MAIL</button>
  <div class="carous">
    <p-galleria [value]="items" [containerStyle]="{'max-width': '411px'}" [showThumbnails]="false"
      [showIndicators]="true" [autoPlay]="true" [transitionInterval]="4000">
      <ng-template pTemplate="item" let-item>
        <a href='{{item?.link}}'><img [src]="item?.name" /></a>
      </ng-template>
    </p-galleria>
  </div>
  <!-- galleria -->
  <div class="firstBlock">
    <div class="p-grid p-jc-center">
      <div class="p-col-5 responsive" style="border: 10px;border-color: #333333;">
        <!-- inicio conteiner -->
        <div class="card">
          <h3>Calculadora Metabólica</h3><br>
          <div class="p-grid">
            <div class="p-col-5 p-d-flex p-ai-center p-jc-center">
              <a href="Calculadora" routerLink="/Calculadora"><img src="../../../assets/images/calculadoraPrint.jpeg"
                  class="cardImage"></a>
            </div>
            <div class="p-col-2 ">
              <p-divider layout="vertical">
              </p-divider>
            </div>
            <div class="p-col-5 p-d-flex p-ai-center p-jc-center">
              <p>
                Com a calculadora Metabólica você pode manter o controle da sua dieta e ficar sabendo todos os dados
                relacionados a sua taxa metabólica, necessidade energética total, etc
              </p>
            </div>
          </div>
        </div>
        <!-- fim do conteiner -->
        <!-- inicio conteiner -->
        <div class="card">
          <h3>Planilhas de Acompanhamento</h3><br>
          <div class="p-grid">
            <div class="p-col-5 p-d-flex p-ai-center p-jc-center">
              <p>
                Com as planilhas de acompanhamento você consegue desenvolver uma disciplina e manter o controle sobre
                a sua alimentação e hábitos inclusive manter o registro de algumas receitas :)
              </p>
            </div>
            <div class="p-col-2">
              <p-divider layout="vertical">
              </p-divider>
            </div>
            <div class="p-col-5 p-d-flex p-ai-center p-jc-center">
              <a href="Materiais" routerLink="/Materiais"><img src="../../../assets/images/planilhasPrint.jpeg"
                  class="cardImage"></a>
            </div>
          </div>
        </div>
        <!-- fim do conteiner -->
        <!-- inicio conteiner -->
        <div class="card">
          <h3>Quem Sou Eu</h3><br>
          <div class="p-grid">
            <div class="p-col-5 p-d-flex p-ai-center p-jc-center">
              <a href="QuemSouEu" routerLink="/QuemSouEu"><img src="../../../assets/images/bonequinha.png"
                  class="cardImage"></a>
            </div>
            <div class="p-col-2">
              <p-divider layout="vertical">
              </p-divider>
            </div>
            <div class="p-col-5 p-d-flex p-ai-center p-jc-center">
              <p>
                Compartilho meu dia a dia no instagram, tiro várias dúvidas de diversos assuntos e busco, de alguma
                forma, ajudar quem me acompanha nessa mudança de estilo de vida!
              </p>
            </div>
          </div>
        </div>
        <!-- fim do conteiner -->
      </div>
    </div>
  </div>