$beje: #fffef6;
$rosa: #d54062;

//mobile
@media (max-width: 599px){

    .cardImage{
        width: 130%;
    }

    .responsive{
        width: 90% !important;
    }

    .firstBlock{
        width: 100%;
        // margin-top: 5%;
        text-align: center;
        font-family: "MontSerrat";
        font-size: 12px;
    }
    
    ::ng-deep{
        .p-card{
            background: $beje;
        }
    }
    
    .card{
        margin-top: 10%;
    }
    
    h3{
        color: $rosa;
    }
    
    #container {
        margin-left: 5%;
        width: 90%;
        margin: 1em auto;
        padding: 0;
        background:$beje;
    }
    
    .carous{
        width: 100%;
    }

    .mob{ 
        position: relative;
        margin-left: -10%;
    }
    
    .items {
        width: 120%;
        height:500px;
        background:$beje;
        text-align: center;
        vertical-align: middle;
    }
    
    #left, #right { 
        margin: 30px;
    }
}

//pc
@media (min-width: 600px){

    .cardImage{
        width: 70%;
    }

    .responsive{
        background-color: $beje;
    }

    .firstBlock{
        width: 160%;
        margin-left: -30%;
        // margin-top: 5%;
        text-align: center;
        font-family: "MontSerrat";
    }
    
    ::ng-deep{
        .p-card{
            background: $beje;
        }
    }
    
    .card{
        margin-top: 10%;
    }
    
    h3{
        color: $rosa;
    }
    
    #container {
        margin-left: 25%;
        width: 50%;
        margin: 2em auto;
        padding: 0;
        background:$beje;
    }
    
    .carous{
        width: 50%;
        margin-left: 25%;
    }

    .items {
        max-width:500px;
        height:500px;
        background:$beje;
    }
    
    #left, #right { 
        margin: 30px;
    }
}