<div class="tittle" style="margin-top: 2%;">Instagram</div>
<div id="container">
  <!-- carousel -->
  <div ng2-carouselamos class="slides-wrapper carous" [items]="items" [width]="900" [$prev]="prev" [$next]="next"
    [$item]="item">
  </div>

  <ng-template #prev>
    <i class="pi pi-angle-double-left" style="cursor: pointer;"></i>
  </ng-template>
  <ng-template #next>
    <i class="pi pi-angle-double-right" style="cursor: pointer;"></i>
  </ng-template>
  <ng-template #item let-item let-i="index">

    <div class="items" style="width: 100%;">
      <img src="{{ item.name }}">
    </div>

  </ng-template>
  <!-- carousel -->
  <div class="firstBlock">
    <div class="p-grid p-jc-center">
      <div class="p-col-5 responsive" style="border: 10px;border-color: #333333;">
        <!-- inicio conteiner -->
        <div class="card">
          <h3>Calculadora Metabólica</h3><br>
          <div class="p-grid">
            <div class="p-col-5 p-d-flex p-ai-center p-jc-center">
              <a href="Calculadora" routerLink="/Calculadora"><img src="../../../assets/images/calculadoraPrint.jpeg" class="cardImage"></a>
            </div>
            <div class="p-col-2 ">
              <p-divider layout="vertical">
              </p-divider>
            </div>
            <div class="p-col-5 p-d-flex p-ai-center p-jc-center">
              <p>
                Com a calculadora Metabólica voce pode manter o controle da sua dieta e ficar sabendo todos os dados
                relacionados a sua taxa metabolica, necessidade energetica total, etc
              </p>
            </div>
          </div>
        </div>
        <!-- fim do conteiner -->
        <!-- inicio conteiner -->
        <div class="card">
          <h3>Planilhas de Acompanhamento</h3><br>
          <div class="p-grid">
            <div class="p-col-5 p-d-flex p-ai-center p-jc-center">
              <p>
                Com as planilhas de acompanhamento vooce consegue desenvolver uma disciplina e manter o conotrole sobre
                a sua alimentação e hábitos inclusive manter o registro de algumas receitas :)
              </p>
            </div>
            <div class="p-col-2">
              <p-divider layout="vertical">
              </p-divider>
            </div>
            <div class="p-col-5 p-d-flex p-ai-center p-jc-center">
              <a href="Materiais" routerLink="/Materiais"><img src="../../../assets/images/planilhasPrint.jpeg" class="cardImage"></a>
            </div>
          </div>
        </div>
        <!-- fim do conteiner -->
        <!-- inicio conteiner -->
        <div class="card">
          <h3>Quem Sou Eu</h3><br>
          <div class="p-grid">
            <div class="p-col-5 p-d-flex p-ai-center p-jc-center">
              <a href="QuemSouEu" routerLink="/QuemSouEu"><img src="../../../assets/images/planilhasPrint.jpeg" class="cardImage"></a>
            </div>
            <div class="p-col-2">
              <p-divider layout="vertical">
              </p-divider>
            </div>
            <div class="p-col-5 p-d-flex p-ai-center p-jc-center">
              <p>
                Com as planilhas de acompanhamento vooce consegue desenvolver uma disciplina e manter o conotrole sobre
                a sua alimentação e hábitos inclusive manter o registro de algumas receitas :)
              </p>
            </div>
          </div>
        </div>
        <!-- fim do conteiner -->
      </div>
    </div>
  </div>