<div class="form">
    <div class="tittle">
        CALCULANDO MEU METABOLISMO
    </div>
    <div class="titulo2">
        Calculando o seu IMC
    </div>
    <div class="formulario">
        <div class="questao">
            <label class="formLabel">Peso:</label>
            <input type="text">
        </div>
        <div class="questao">
            <label class="formLabel">Altura:</label>
            <input type="text">
        </div>
        <button class="calcular">CALCULAR</button>
    </div>
</div>