$rosa: #d54062;
$cinza: #333333;
$verde: #71a95a;
$amarelo: #ffe277;
$beje: #fffef6;

.leadDialog{
    font-family: 'AllerDisplay';
    background: $beje;
    background-color: $beje;
}

h3{
    color: $verde;
}

.initialTextRed{
    color: $rosa !important;
}

.form{
    width: 40%;
    margin-top: 1%;
    margin-left: 30%;
}

.titulo2{
    // margin-top: 10%;
    font: 'AllerDisplay';
    font-size: 30px;
    text-align: center;
    color: $verde;
}

.questao{
    margin-top: 5%;
}
.input{
    float: right;
    height: 25px;
    width: 45%;
    border-radius: 8px;
    border-width: thin; 
}

.selectButton{
    font-family: 'MontSerrat';
    color: $cinza;
    cursor: pointer;
    width: 49%;
    height: 40px;
    float: left;
    margin-left: 1%;
    margin-top: 1%;
    border: 1px solid $amarelo;
    background-color: $amarelo;
    border-radius: 7px;
}

.selectedButton{
    font-family: 'MontSerrat';
    color: $cinza;
    cursor: pointer;
    width: 49%;
    height: 40px;
    float: left;
    margin-left: 1%;
    margin-top: 1%;
    border: 1px solid $rosa!important;
    background-color: $rosa!important;
    color: $beje;
    border-radius: 7px;
}

.video{
    margin-top:5%;
    width: 100%;
}

.checkbox{
    margin-top: 2%;
    font-family: 'MontSerrat';
    font-size: 15px;
}

.invalidMessage{
    margin-top: 5%;
    color: $rosa;
}

p-selectbutton {
    text-align: center;
}

.opcoes{
    margin-top: 5%;
    color: $cinza;
}

.result{
    text-align: center;
    font-family: 'MontSerrat';
    color: $rosa;
}

.text{
    text-align: center;
    font-size: 20px;
    margin-top: 5%;
}