<div class="form">
    <div class="tittle">
        CALCULANDO MEU METABOLISMO
    </div>
    <div class="video">
        <iframe width="100%" height="500px" src="https://www.youtube.com/embed/Mue3PQMOhaA" frameborder="0" allowfullscreen></iframe>
    </div>
    <div class="titulo2">
        Calculando o seu IMC
    </div>
    <div class="formulario">
        <div class="questao">
            <label class="formLabel">Peso:</label>
            <input type="text">
        </div>
        <div class="questao">
            <label class="formLabel">Altura:</label>
            <input type="text">
        </div>
        <button class="calcular">CALCULAR</button>
    </div>
</div>
<div class="form2">
    <div class="titulo2">
        Selecionando o Seu NAF
    </div>
    <div class="formulario">
        <div class="questao">
            <label class="formLabel" style="font-size: 18px">Escolha o seu estilo de vida:</label>
            <p-checkbox class="checkbox" label=" Sedentário"></p-checkbox><br>
            <p-checkbox class="checkbox" label=" Menos ativo"></p-checkbox><br>
            <p-checkbox class="checkbox" label=" Trabalha sentado e faz exercício leve"></p-checkbox><br>
            <p-checkbox class="checkbox" label=" Trabalha ativo o dia todo"></p-checkbox>
        </div>
        <div class="questao">
            <label class="formLabel">Altura:</label>
            <input type="text">
        </div>
        <button class="calcular">CALCULAR</button>
    </div>
</div>