<div class="tittle">
    Materiais de Acompanhamento
</div>
<div class="spreadsheets">
    <hr><br><br>
    <h4>Clique na foto do material desejado para fazer o download dos arquivos</h4><br><br>
    <div class="p-grid">
        <!--grid-->
        <!--coluna-->
        <div class="p-col">
            <p-card header="Cardápio">
                <div class="plnText">
                    <p>Planílha para voce manter o controle da sua alimentação</p>
                    <br>
                </div>
                <div class="plnCard">
                    <a href="../../../assets/Download/Cardapio.png"
                        download="../../../assets/Download/Cardapio.png"><img class="cardimg" alt="Card"
                            src="../../../assets/Download/Cardapio.png"></a>
                </div>
            </p-card>
        </div>
        <!--coluna-->
        <!--coluna-->
        <div class="p-col">
            <p-card header="Lista De Compras">
                <div class="plnText">
                    <p>Planílha para voce monitorar a lista de compras</p>
                    <br>
                </div>
                <div class="plnCard">
                    <a href="../../../assets/Download/ListaDeCompras.png"
                        download="../../../assets/Download/ListaDeCompras.png"><img class="cardimg" alt="Card"
                            src="../../../assets/Download/ListaDeCompras.png"></a>
                </div>
            </p-card>
        </div>
        <!--coluna-->
        <!--coluna-->
        <div class="p-col">
            <p-card header="Monitorar Hábitos">
                <div class="plnText">
                    <p>Planílha para voce monitorar os seus hábitos alimentares</p>
                    <br>
                </div>
                <div class="plnCard"> <a href="../../../assets/Download/MonitoramentoHabitos.png"
                        download="../../../assets/Download/MonitoramentoHabitos.png"><img class="cardimg" alt="Card"
                            src="../../../assets/Download/MonitoramentoHabitos.png"></a>
                </div>
            </p-card>
        </div>
        <!--coluna-->
        <!--coluna-->
        <div class="p-col">
            <p-card header="Receitas">
                <div class="plnText">
                    <p>Planílha para voce anotar suas receitas</p>
                    <br>
                </div>
                <div class="plnCard"> <a href="../../../assets/Download/Receita.png"
                        download="../../../assets/Download/Receita.png"><img class="cardimg" alt="Card"
                            src="../../../assets/Download/Receita.png"></a>
                </div>
            </p-card>
        </div>
        <!--coluna-->
        <!--coluna-->
        <div class="p-col">
            <p-card header="Escala Bristol">
                <div class="plnText">
                    <p>Imagens para voce manter o controle da saúde do seu cocô</p>
                    <br>
                </div>
                <div class="plnCard"> <a href="" download="../../../assets/Download/EscalaBristol.zip"><img
                            class="cardimg" alt="Card" src="../../../assets/Download/coco.png"></a>
                </div>
            </p-card>
        </div>
        <!--coluna-->
    </div>
</div>
<div class="back-to-top" (click)="backToTop()" href="#"></div>